<template>
    <Twemoji ref="twemoji">
        {{getIcon(code)}}
    </Twemoji>
</template>

<script>
    const chars = {
        'A': '🇦', 'B': '🇧', 'C': '🇨', 'D': '🇩', 'E': '🇪', 'F': '🇫', 'G': '🇬', 'H': '🇭', 'I': '🇮', 'J': '🇯',
        'K': '🇰', 'L': '🇱', 'M': '🇲', 'N': '🇳', 'O': '🇴', 'P': '🇵', 'Q': '🇶', 'R': '🇷', 'S': '🇸', 'T': '🇹',
        'U': '🇺', 'V': '🇻', 'W': '🇼', 'X': '🇽', 'Y': '🇾', 'Z': '🇿',
    };

    export default {
        props: {
            code: { required: true },
        },
        methods: {
            getIcon(code) {
                return chars[code[0]] + chars[code[1]];
            },
        },
        watch: {
            code() {
                this.$refs.twemoji.update();
            }
        }
    };
</script>
